<mat-card class="criarUsuario mat-elevation-z4">
    <form>
        <h1>DELETANDO USUÁRIO</h1>
        <div class="formulario">
            <div>
                <label>
                    Nome
                </label>
                <br>
                <input [(ngModel)]="usuario.nome" type="text" name="nome" disabled/>
            </div>

            <div>
                <label>
                    Idade
                </label>
                <br>
                <input [(ngModel)]="usuario.idade" type="text" name="idade" disabled/>
            </div>

            <div>
                <label>
                    Cep
                </label>
                <br>
                <input [(ngModel)]="usuario.cep" type="text" name="cep" disabled/>
            </div>
            <div>
                <label>
                    Estado
                </label>
                <br>
                <input [(ngModel)]="usuario.estado" type="text" name="estado" disabled/>
            </div>
            <div>
                <label>
                    Cidade
                </label>
                <br>
                <input [(ngModel)]="usuario.cidade" type="text" name="cidade" disabled/>
            </div>
            <div>
                <label>
                    Logradouro
                </label>
                <br>
                <input [(ngModel)]="usuario.logradouro" type="text" name="logradouro" disabled/>
            </div>
            <div>
                <label>
                    Bairro
                </label>
                <br>
                <input [(ngModel)]="usuario.bairro" type="text" name="bairro" disabled/>
            </div>
            <div>
                <label>
                    Número
                </label>
                <br>
                <input [(ngModel)]="usuario.numero" type="text" name="numero" disabled/>
            </div>
        </div>

        <div>
            <button (click)="delete()" class="buttons mat-elevation-z8" mat-stroked-button color="primary"><i class="material-icons">delete</i>DELETAR</button>
            <button (click)="cancel()" class="button mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
        </div>
    </form>
</mat-card>
