.formulario {
    margin-left: 2rem;
    margin-top: 0;
}

.criarUsuario {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 20%;
}

.botao {
    margin-top: .2rem;
}

.buttons {
    margin-top: .2rem;
}

.button {
    margin-left: 1rem;
}