<mat-card class="card mat-elevation-z8">
  <h2>Login</h2>
  <div class="row">
      <div class="input-field col s12">
        <label class="active" for="usuario">Usuário</label><br>
        <input [(ngModel)]="usuarioSenha.nome" id="usuario" type="text" class="validate">        
      </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <label class="active" for="senha">Password</label><br>
        <input [(ngModel)]="usuarioSenha.senha" id="senha" type="password" class="validate">        
      </div>
  </div>

  <button class="btn" mat-flat-button type="submit" name="action" (click)="fazerLogin()" color="primary">Login</button>
</mat-card>
